{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap %}

{% block main %}

{% include 'core/menu.html' %}

<br><h1>Cadastro de Professor</h1><br>

<form action="{% url 'core_cadastra_professor' %}" method="POST" id="pessoaForm" data-professores-url="{% url 'ajax_load_professores' %}">
    {% csrf_token %}

    {{ form|bootstrap }}

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

    
<script src="{% static "jquery.js" %}"></script>
<script>
  $(document).ready(function() {
    function carrega_prof(){ //funcao para atualizar os professores dependendo da academia selecionada
      var url = $("#pessoaForm").attr("data-professores-url");  // get the url of the `load_professores` view
      var academiaId = $("#id_Academia").val();  // get the selected academia ID from the HTML input

      $.ajax({                       // initialize an AJAX request
          url: url,                    // set the url of the request
          data: {
              'Academia': academiaId       // add the academiaId id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_professores` view function
              $("#id_Professor").html(data);  // replace the contents of the professor input with the data that came from the server
          }
      });
    };

    $('#id_Professor').parent().parent().hide(); // ao carregar a pagina ele esconde os dois campos
    $('#id_UltimaAnuidade').parent().parent().hide();

    $('#id_ProfessorAluno').on('change', function (e) { // ao mudar o status do botao de professor aluno, os dois campos se escondem ou reaparecem
      if(this.checked != true){
        $('#id_Professor').parent().parent().hide();
        $('#id_UltimaAnuidade').parent().parent().hide();
        $("#id_Professor").html("<option value selected>---------</option>"); // limpa os filtros do professor se nao for um professor aluno
      } else {
        carrega_prof();
        $('#id_Professor').parent().parent().show();
        $('#id_UltimaAnuidade').parent().parent().show();
      }
    });

    $("#id_Academia").change(function () { // ao mudar a academia selecionada
      if($('#id_ProfessorAluno').is(":checked")){    // detecta se o professor aluno esta marcado
        carrega_prof();
      } else{
        $("#id_Professor").html("<option value selected>---------</option>"); // limpa os filtros do professor se nao for um professor aluno
      };
    });

  });
</script>
{% endblock %}