{% extends 'core/base.html' %}
{% load bootstrap %}

{% block main %}

{% include 'core/menu.html' %}

<br><div class="alert alert-danger" role="alert"><h3>Tem certeza que quer deletar <strong>{{academia}}</strong>? Esta ação não poderá ser desfeita!</h3></div>

<form action="{% url 'core_delete_academia' academia.IDAcademia %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Deletar</button>
    <div class="btn-primary btn"><a style="color: white" href="{% url 'search_academia' %}">Cancelar</a></div>
</form>

{% endblock %}