
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Opções</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %} 
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cadastro
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'core_cadastra_filiado' %}">Cadastre um filiado</a>
          <a class="dropdown-item" href="{% url 'core_cadastra_professor' %}">Cadastre um professor</a>
          <a class="dropdown-item" href="{% url 'core_cadastra_academia' %}">Cadastre uma academia</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Busca
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'search_pessoa' %}">Busque uma pessoa</a>
          <a class="dropdown-item" href="{% url 'search_academia' %}">Busque uma academia</a>
        </div>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'core_list_filiacao' %}">Carteiras Vencidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="">Ola, {{ user }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      {% endif %}      
    </ul>
   
  </div>
</nav>