{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap %}

{% block main %}

{% include 'core/menu.html' %}

<h2>Pessoa: {{pessoa.Nome}}</h2>

<form action="{% url 'core_update_pessoa' pessoa.RegistroCBJ  %}" method="POST" id="pessoaForm" data-professores-url="{% url 'ajax_load_professores_update' %}">
    {% csrf_token %}

    {{ form|bootstrap }}

    <button type="submit" class="btn btn-primary">Atualizar</button>
    <div class="btn-danger btn" role="alert"><a style="color: white" href="{% url 'core_delete_pessoa' pessoa.RegistroCBJ %}">Deletar</a></div>
    <div class="btn-danger btn hide" role="alert" id="promove"><a style="color: white" href="{% url 'core_promove_filiado' pessoa.RegistroCBJ %}">Promover a professor</a></div>
</form>
<br>

<script src="{% static "jquery.js" %}"></script>
<script>
  $(document).ready(function() {
    if($('#id_ProfessorAluno').length){ // se for um professor, as funcoes abaixo serao executadas
      if($('#id_ProfessorAluno').is(":checked")){
        var profvalue = $('#id_Professor').val(); // captura o valor inicial do professor
      }
      function carrega_prof(){ //funcao para atualizar os professores dependendo da academia selecionada
        var url = $("#pessoaForm").attr("data-professores-url");  // get the url of the `load_professores` view
        var academiaId = $("#id_Academia").val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request
            data: {
                'Academia': academiaId       // add the academiaId id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_professores` view function
                $("#id_Professor").html(data);  // replace the contents of the professor input with the data that came from the server
            }
        });

        setTimeout(function() {
          $("#id_Professor > option").each(function() { // se for um professor aluno, ele nao pode se selecionar como professor
            if($(this).text() ==  $("#id_Nome").val()){
              $(this).removeAttr('selected').hide(); // esconde para nao selecionar um auto professor
            } else{
              $(this).show(); // seleciona qualquer outro professor da academia para que sua auto selecao desapareca
            }
          });
          if(profvalue != ""){
            $('#id_Professor option[value='+profvalue+']').attr("selected","selected"); // se ja for um professor aluno, seleciona o professor inicial
          }
        },200);
      };


      if($('#id_ProfessorAluno').is(":checked")){ // ao carregar a pagina, verifica se e um professor aluno
        setTimeout(function(){carrega_prof()},200); // aplica a funcao ao carregar a pagina
      } else{
        $("#id_Professor").html("<option value selected>---------</option>");
        $('#id_Professor').parent().parent().hide();
        $('#id_UltimaAnuidade').parent().parent().hide();
      }
      //} 

      $('#id_ProfessorAluno').on('change', function (e) { // monitora o professor aluno, ao desmarcar ou marcar o botao
        if(this.checked != true){ // se nao estiver marcado, some com os campos do professor aluno
          $('#id_Professor').parent().parent().hide();
          $('#id_UltimaAnuidade').parent().parent().hide();
          $("#id_Professor").html("<option value selected>---------</option>"); //limpa os filtros do professor
        } else { // se estiver marcado, os campos do professor aluno reaparecem
          carrega_prof(); // aplica os filtros do professor
          $('#id_Professor').parent().parent().show();
          $('#id_UltimaAnuidade').parent().parent().show();
        }
      });

      $("#id_Academia").change(function () { // ao mudar a academia selecionada, os filtros para o professor sao aplicados novamente
        if($('#id_ProfessorAluno').is(":checked")){    // se estiver marcado, aplica os filtros         
          carrega_prof();
        } else{
          $("#id_Professor").html("<option value selected>---------</option>"); // se nao estiver marcado, reseta os filtros
        };
      });
    } 
    
    
    else{ // se for um aluno, as funcoes abaixo serao carregadas
      var profvalue = $('#id_Professor').val();
      $("#promove").show();
      function carrega_prof(){ // funcao para aplicar os filtros da academia selecionada ao professor
        var url = $("#pessoaForm").attr("data-professores-url");  // get the url of the `load_professores` view
        var academiaId = $("#id_Academia").val();  // get the selected academia ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request
            data: {
                'Academia': academiaId       // add the academia id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_professores` view function
                $("#id_Professor").html(data);  // replace the contents of the professor input with the data that came from the server
            }
        });

        setTimeout(function() {
          $("#id_Professor > option").each(function() { // se for um professor aluno, ele nao pode se selecionar como professor
            if($(this).text() == "---------"){
              $(this).removeAttr('selected').hide(); // esconde para nao selecionar um auto professor
            } else{
              $(this).show().attr("selected","selected"); // seleciona qualquer outro professor da academia para que sua auto selecao desapareca
            }
          });
          $('#id_Professor option[value='+profvalue+']').attr("selected","selected");
        },200);
      };
      setTimeout(function(){carrega_prof()},200); // aplica os filtros do professor ao carregar a pagina

      $("#id_Academia").change(function () { // ao mudar a academia selecinada, o professor e filtrado
        carrega_prof();
      });
    };
  });
</script>
<script src="{% static "/javascript.js" %}"></script>
{% endblock %}