{% extends 'core/base.html' %}
{% load bootstrap %}

{% block main %}

{% include 'core/menu.html' %}

<h2>Academia: {{academia.Nome}}</h2>

<form action="{% url 'core_update_academia' academia.IDAcademia  %}" method="POST">
    {% csrf_token %}

    {{ form|bootstrap }}

    <button type="submit" class="btn btn-primary">Atualizar</button>
    <div class="btn-danger btn" role="alert"><a style="color: white" href="{% url 'core_delete_academia' academia.IDAcademia %}">Deletar</a></div>
</form>
<br>

{% endblock %}